/*general*/
$bg_naranja:#e73c15;
$bg_blanco:white;
$bg_gris:#949494;
$bg_grisclarito:#aaa8a8;
$bg_grisclaro:#727171;
$bg_grisintermedio:#5e5b5b;
$bg_grisoscuro:#313030;
$bg_negro:#0a0a0a;
$bg_naranjaoscuro:#b93d21;
$padding:40px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
